body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-roboto: Roboto;
    --font-noto-sans: "Noto Sans";

    /* font sizes */
    --font-size-4xs: 9px;
    --font-size-5xs: 8px;

    /* Colors */
    --color-silver-100: #c0c0c0;
    --color-black: #000;
}
